xml/A1.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD for WED-flow definition -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="WED-flow-initial-schema">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="WED-attributes" type="AttributesType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="WED-conditions" type="ConditionsType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="WED-transitions" type="TransitionsType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="WED-flows" type="FlowsType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="AWICs" type="AWICsType" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="AttributeKey">
			<xsd:selector xpath="WED-attributes/Attribute" />
			<xsd:field xpath="@Name" />
		</xsd:key>
		<xsd:key name="ConditionKey">
			<xsd:selector xpath="WED-conditions/Condition" />
			<xsd:field xpath="@Name" />
		</xsd:key>
		<xsd:key name="TransitionKey">
			<xsd:selector xpath="WED-transitions/Transition" />
			<xsd:field xpath="@Name" />
		</xsd:key>
		<xsd:key name="FlowKey">
			<xsd:selector xpath="WED-flows/Flow" />
			<xsd:field xpath="@Name" />
		</xsd:key>
		<xsd:keyref name="AttributeKeyRef" refer="AttributeKey">
			<xsd:selector xpath="WED-transition/Transition/UpdatedAttribute" />
			<xsd:field xpath="@AttrName" />
		</xsd:keyref>
		<xsd:keyref name="ConditionKeyRef" refer="ConditionKey">
			<xsd:selector xpath="WED-flows/Flow/Trigger" />
			<xsd:field xpath="@CondName" />
		</xsd:keyref>
		<xsd:keyref name="TransitionKeyRef" refer="TransitionKey">
			<xsd:selector xpath="WED-flows/Flow/Trigger" />
			<xsd:field xpath="@TransName" />
		</xsd:keyref>
		<xsd:keyref name="FSConditionKeyRef" refer="ConditionKey">
			<xsd:selector xpath="WED-flows/Flow" />
			<xsd:field xpath="@FinalStateCondName" />
		</xsd:keyref>
		<xsd:keyref name="AWICConditionKeyRef" refer="ConditionKey">
			<xsd:selector xpath="AWICs/Constraint" />
			<xsd:field xpath="@CondName" />
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="AttributesType">
		<xsd:sequence>
			<xsd:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="Name" type="xsd:string" use="required" />
					<xsd:attribute name="Type" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConditionsType">
		<xsd:sequence>
			<xsd:element name="Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Predicate" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="Id" type="xsd:integer" use="required" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Expression" type="xsd:string" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
					<xsd:attribute name="Name" type="xsd:string" use="required" />
				</xsd:complexType>
				<xsd:key name="PredicateKey">
					<xsd:selector xpath="WED-condition/Predicate" />
					<xsd:field xpath="@Id" />
				</xsd:key>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransitionsType">
		<xsd:sequence>
			<xsd:element name="Transition" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UpdatedAttribute" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="AttrName" type="xsd:string" use="required" />
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="Name" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TriggersType">
		<xsd:sequence>
			<xsd:element name="Trigger" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="CondName" type="xsd:string" use="required" />
					<xsd:attribute name="TransName" type="xsd:string" use="required" />
					<xsd:attribute name="Period" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FlowsType">
		<xsd:sequence>
			<xsd:element name="Flow" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Trigger" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="CondName" type="xsd:string" use="required" />
								<xsd:attribute name="TransName" type="xsd:string" use="required" />
								<xsd:attribute name="Period" type="xsd:string" use="required" />
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="Name" type="xsd:string" use="required" />
					<xsd:attribute name="FinalStateCondName" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AWICsType">
		<xsd:sequence>
			<xsd:element name="Constraint" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="CondName" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>